<!doctype html>
<head>
    <title>Azure Test</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<html>
   <body>
     <main>
        <div class="px-4 py-3 my-2 text-center">
            <h1 class="display-6 fw-bold text-primary">Login Page</h1>            
          </div>
        <form method="post" action="{{url_for('hello')}}">
            <div class="col-md-6 mx-auto text-center">
                <label for="name" class="form-label fw-bold fs-5">Please input your Username, Password, and Email below</label>

                <!-- <p class="lead mb-2">Please input your Username, Password, and Email below</p> -->
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
                    <input type="text" class="form-control" id="username" name="username" style="max-width: 256px;">
                    <input type="text" class="form-control" id="password" name="password" style="max-width: 256px;">
                    <input type="text" class="form-control" id="email" name="email" style="max-width: 256px;">
                  </div>            
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center my-2">
                  <button type="submit" class="btn btn-primary btn-lg px-4 gap-3">Submit</button>
                </div>            
            </div>
        </form>
     </main>      
   </body>
</html>